{% extends "rents/menu.html" %}

{% block body %}
<div id="body_content" class="form-group">
    <div>
        <h2>Contact</h2>
        <div class="body_table">
            <div class="body_table_content">
                <!-- List of menus in 3 columns menu name, small price, large price -->
                <!-- Also separate depends on menu types -->
                <h4>List of Reservations</h4>
                <div>
                    <table class="table">
                        <tr>
                            <th>Car</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Pick-up Location</th>
                            <th>Drop-off Location</th>
                            <th>Total Price</th>
                            <th>Status</th>
                            <th>Details</th>
                        </tr>
                        {% for myreservation in myreservations %}
                        <tr>
                            <td>{{ myreservation.reservation_car.car_brand }} {{ myreservation.reservation_car.car_name }}</td>
                            <td>{{ myreservation.reservation_start_date }}</td>
                            <td>{{ myreservation.reservation_end_date }}</td>
                            <td>{{ myreservation.reservation_car.car_location.location_name }}</td>
                            <td>{{ myreservation.reservation_drop_off.location_name }}</td>
                            <td>${{ myreservation.reservation_total_price|floatformat:2 }}</td>
                            <td>{{ myreservation.reservation_status }}</td>
                            <td><input class="btn btn-success" type="button" value="View Reservation" onclick="viewReservation(`{{ myreservation.id }}`, `{{ myreservation.reservation_user.id }}`)" /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}