{% extends "rents/menu.html" %}

{% block body %}
<div id="body_content" class="form-group">
    <div>
        <h2>Contact</h2>
        <div class="body_table">
            <div class="body_table_content">
                <!-- List of menus in 3 columns menu name, small price, large price -->
                <!-- Also separate depends on menu types -->
                <h4>List of Reservations</h4>
                <div id="googleMap" style="width:100%;height:400px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}