{% extends "rents/menu.html" %}

{% block body %}
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<div id="location_drop" class="dropdown">
    <select id="location_item" name="location">
        <option value="All">All</option>
        {% for location in locations %}
        <option value="{{ location.location_name }}">{{ location.location_name }}</option>
        {% endfor %}
    </select>
</div>
<div id="datebox">
    <table>
        <td id="datepick_td"><input id="datepick" type="text" name="daterange"/></td>
        <td><input id="choose_date" class="btn btn-success" type="button" value="Select" onclick="chooseDate()" /></td>
    </table>
</div>
{% endblock %}