{% extends "rents/menu.html" %}

{% block body %}
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<div id="body_content" class="form-group">
    <div id="datebox">
        <div>
            <label for="from">From</label>
            <input type="text" id="from" name="from">
        </div>
        <div>
            <label for="to">to</label>
            <input type="text" id="to" name="to">
        </div>
        <input class="btn btn-success" type="button" value="Select" onclick="chooseDate()" />
    </div>
</div>
{% endblock %}