<!DOCTYPE html>
<html>
    <head>
        <title>Ed Kang's Project 3!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        {% load static %}
        <script type="text/javascript" src="{% static 'rents/myIndex.js' %}?version=1.1" /></script>
        <link rel="stylesheet" type="text/css" href="{% static 'rents/style.css' %}" />
    </head>
    <body>
        <div class="container">
            <h1><a href="/">Edward Kang's Final Project!</a></h1>
            <!-- Display a link to admin order page only if the current user is a superuser -->
            {% if user.is_superuser %}
            <h3 class="admin_link"><a href="/adminpage/reservation/current/waiting">Admin Reservation</a></h3>
            <h3 class="admin_link"><a href="/adminpage/request/current/waiting">Admin Request</a></h3>
            <h3 class="admin_link"><a href="/adminpage/contact/current/waiting">Admin Contact</a></h3>
            {% endif %}
            {% if user.is_authenticated %}
                {% block menu %}
                {% endblock %}
            {% else %}
                {% block loginout %}
                {% endblock %}
            {% endif %}
        </div>
        <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(42.3763,-71.1166);
            var boston = new google.maps.LatLng(42.3501482,-71.1317221);
            var cambridge = new google.maps.LatLng(42.3638703,-71.1010809);
            var medford = new google.maps.LatLng(42.4022007,-71.0981712);
            var mapCanvas = document.getElementById("map");
            // var mapOptions = {center: myCenter, zoom: 13};
            // var map = new google.maps.Map(mapCanvas, mapOptions);
            // var marker = new google.maps.Marker({position:boston});
            // marker.setMap(map);

            var mapProp= {
                center: myCenter,
                zoom: 13,
            };
            var mapOptions=new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
            var markerBoston = new google.maps.Marker({position:boston});
            var markerCambridge = new google.maps.Marker({position:cambridge});
            var markerMedford = new google.maps.Marker({position:medford});
            markerBoston.setMap(map);
            //markerCambridge.setMap(map);
            //markerMedford.setMap(map);

            // var mapProp= {
            //     center:new google.maps.LatLng(42.3763,-71.1166),
            //     zoom:13,
            // };
            // var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
        };
        google.maps.event.addDomListener(window, "load", myMap);
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-E_3niAlTypjYGO_e12ddDtBTOaPEHKk&callback=myMap"></script>
    </body>
</html>