{% extends "rents/menu.html" %}

{% block body %}
<div class="form-group">
    <div id="body_content" class="form-group">
        <div>
            <div id="search_title">
                <h2 id="search_list_title">Search List</h2>
                <p id="search_list_length">{{ resultlength }} result(s) found</p>
                <p id="given_location_value" class="hidden_value">{{ location }}</p>
                <p id="given_start_date_value" class="hidden_value">{{ startdate }}</p>
                <p id="given_end_date_value" class="hidden_value">{{ enddate }}</p>
                <p id="given_age_value" class="hidden_value">{{ age }}</p>
                <p id="given_sort_value" class="hidden_value">{{ sort }}</p>
                <p id="given_keytype" class="hidden_value">{{ keytype }}</p>
                <p id="given_keyword" class="hidden_value">{{ keyword }}</p>
            </div>
            <div id="sort_list">
                <select id="sort_by" class="sort_item" name="location" onchange="searchKeyword()">
                    <option value="price_desc">Price ↓</option>
                    <option value="price_asc">Price ↑</option>
                    <option value="size_desc">Size ↓</option>
                    <option value="size_asc">Size ↑</option>
                </select>
                <h5 class="sort_item">Sort By:</h5>
            </div>
            <div id="search_list">
                <input id="keyword_button" class="btn btn-success" type="button" value="Search" onclick="searchKeyword()" />
                <input id="keyword_text" class="search_item" name="username" type="text" placeholder="keyword"/>
                <select id="keyword_type" class="search_item" name="keyword_type">
                    <option value="brand">Brand</option>
                    <option value="model">Model</option>
                    <option value="type">Type</option>
                </select>
                <h5 class="search_item">Search:</h5>
            </div>
            <div class="body_table">
                <div class="body_table_content">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Daily Price</th>
                            <th>Size</th>
                            <th>Details</th>
                            <th>Deal</th>
                        </tr>
                        {% for car in cars %}
                        <tr>
                            <td><img src="/static/rents/img/{{ car.car_name }}.png" alt="{{ car.car_name }}" height="100"></td>
                            <td>{{ car.car_brand }}</td>
                            <td>{{ car.car_name }}</td>
                            <td>{{ car.car_type }}</td>
                            <td>${{ car.car_price|floatformat:2 }}</td>
                            <td>{{ car.car_size }}</td>
                            <td>{{ car.car_detail }}</td>
                            <td><input class="btn btn-success" type="button" value="View Deal" onclick="viewDeal(`{{ car.id }}`, `{{ startdate }}`, `{{ enddate }}`, `{{ age }}`)" /></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}