{% extends "rents/menu.html" %}

{% block body %}
<div id="body_content" class="form-group">
    <div>
        <h2>List</h2>
        <div class="body_table">
            <div class="body_table_content">
                <!-- List of menus in 3 columns menu name, small price, large price -->
                <!-- Also separate depends on menu types -->
                <h4>Search List asdasdasd</h4>
                <div>
                    <table class="table">
                        <tr>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Daily Price</th>
                            <th>Size</th>
                            <th>Details</th>
                            <th>Deal</th>
                            <th>asd</th>
                            <th>asd</th>
                        </tr>
                        {% for car in cars %}
                        <tr>
                            <td>{{ car.car_brand }}</td>
                            <td>{{ car.car_name }}</td>
                            <td>{{ car.car_type }}</td>
                            <td>$ {{ car.car_price }}</td>
                            <td>{{ car.car_size }}</td>
                            <td>{{ car.car_detail }}</td>
                            <td><input class="btn btn-success" type="button" value="View Deal" onclick="viewDeal()" /></td>
                            <td>{{ car.car_location }}</td>
                            <td>{{ car.car_location.id }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <p>{{ startdate }}</p>
                    <p>{{ enddate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}