.admin_link {
    width: 33%;
    display: block;
    float: left;
    text-align: center;
}

/* Header with welcome and user name */
#title_welcome {
    width: 50%;
    display: block;
    float: left;
}

/* Logout button */
#logout_button {
    margin-top: 10px;
    display: block;
    float: right;
}


/* Menu section with my orders, menu, place order */
#menu {
    background-color: #007eff;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: block;
    float: right;
}

#menu_table {
   margin: auto;
   width: 100% !important;
}

#menu_table_tr {
    height: 60px;
    width: 100%;
    display: block;
    float: left;
}

#menu_table_td {
    width: 33%;
    display: block;
    float: left;
    text-align: center;
    margin-top: 15px;
}

.menu_button {
    color: white;
    font-weight: bold;
}

/* basic body content */
#body_content {
    width: 100%;
    display: block;
    float: left;
}

/* location dropdown menu */
#location_drop, #age_check {
    display: block;
    float: left;
    width: 20%;
    margin-top: 10px;
}

#location_item {
    width: 100%;
}

/* datepicker */
#datebox {
    display: block;
    float: right;
    margin: 0% 0% 0% 0%;
}

.datepick_td {
    padding-right: 20px;
}

#datepick {
    width: 105%;
}

#choose_date {
    width: 100%;
}

#search_title {
    display: block;
    float: left;
    width: 50%;
}

#search_title_full {
    display: block;
    float: left;
    width: 100%;
}

#search_list_title {
    display: block;
    float: left;
}

#search_list_length {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    color: gray;
}

#sort_list {
    display: block;
    float: right;
    width: 50%;
}

.sort_item {
    display: block;
    float: right;
    margin-left: 10px;
}

.hidden_value {
    display: none;
}

#car_image {
    display: block;
    float: left;
    width: 30%;
}

#car_info {
    display: block;
    float: left;
    width: 70%;
}

#reservation_div, #request_div, #submit_request_div {
    margin-top: 20px;
    display: block;
    float: left;
    width: 100%;
}

#protection_div {
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
    float: left;
    width: 50%;
}

#young_fee_dollar, #young_fee_item, #protection_item {
    display: block;
    float: left;
}

#protection_price_div {
    margin-top: 47px;
    display: block;
    float: left;
    width: 50%;
    display: none;
}

#modal_message {
    text-align: center;
    display: block;
    float: left;
}

.modal_buttons {
    display: block;
    float: left;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.body_table_content {
    margin-bottom: 40px;
    display: block;
    float: left;
    width: 100%;
}

.body_table_small{
    width: 33%;
    display: block;
    float: left;
}

#past_reservation, #waiting_reservation, #check_in_reservation, #complete_reservation, #past_request, #waiting_request, #declined_request, #approved_request{
    width: 25%;
    display: block;
    float: left;
    text-align: center;
    border: solid;
    border-width: thin;
}

#check_reservation_div, #complete_reservation_div {
    display: block;
    float: left;
}

/* main content part of menu pages */
#list_main {
    width: 100%;
    height: 700px;
    display: block;
    float: left;
    border-style: solid;
    border-color: #218838;
    border-radius: 18px;
    overflow: auto;
}


/* modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
}

/* modal close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}